select {
    width: 100%;
    padding: 10px 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.error {
    padding: 3px 4px;
}