.custom-file-input {
    display: inline-block;
    padding: 15px 50px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.custom-file-input:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #218838;
}